* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 350px;
    padding: 20px;
}

.display {
    background: #000;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.dark {
    background: #333;
    color: white;
}

.gray {
    background: #a5a5a5;
    color: black;
}

.orange {
    background: #ff9500;
    color: white;
}

.zero {
    grid-column: span 2;
    text-align: left;
    padding-left: 30px;
}

.btn:active {
    filter: brightness(1.2);
}

/* RESPONSIVE */
@media (max-width: 400px) {
    .calculator {
        width: 90%;
    }
}

